.DS_Store
node_modules/
.env
build/
.idea

resources/overview/
resources/test/
resources/tmp/
resources/individual_repositories/

resources/config/relationsConfig.json
resources/config/repositoryConfig.json
resources/config/variableExtensionsConfig.json
resources/config/variationsConfig.json
resources/config/originRepositoryConfig.json
