.DS_Store
node_modules/
.env
build/
.idea
.vscode

resources/overview/
resources/test/
resources/tmp/
resources/individual_repositories/
resources/config/
resources/additional_origin_files/with_test_repository/.gitlab-ci_testrepo.yml
